/*
*
* Overload Lightbox v1.1
* Copyright 2014, Luis Chiappe - Overload - Web & Graphic design -
* Overloadesign.com | luischiappe.com.ar
* Free to use for web designers and web developers.
* Enjoy!
*
*/

.open {
    width: 300px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 60px auto 0px;
    font-weight: 800;
}

.bg {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}

.ovr-lightbox {
	position:absolute;
	width:40%;
	height:300px;
	background:#01a0f2;
	z-index:51;
	display:none;
    color: #fff;
}

.ovr-lightbox header{
	height: 50px;
    background: #046da4;
    padding: 10px;
}

.ovr-lightbox header h1{
    margin: 0;
    padding: 0;
}

.ovr-lightbox section{
    padding: 10px;
}

.close {
	float: right;
    margin-top: -24px;
    margin-right: 8px;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.close img{
    width: 20px;
    height: 20px;
}

